.container {
    height: 100%;
}

.content-sec {
    padding: 40px;
}

.action {
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 15px;
    margin-bottom: 5px;
}

.date-sec {
    display: flex;
}